################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OnlineShopTest/.vs/OnlineShopTest
/OnlineShopTest/x64/Debug
/.vs
/OperatorOverloadHomework
/EvenOddNumbers/.vs/EvenOddNumbers
/HierarchyHomework/.vs/HierarchyHomework
/HierarchyHomework/x64/Debug
