################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OnlineShopTest/.vs/OnlineShopTest
/OnlineShopTest/x64/Debug
/.vs
/OperatorOverloadHomework/.vs/OperatorOverloadHomework
/OperatorOverloadHomework/x64/Debug
/EvenOddNumbers/.vs/EvenOddNumbers/v17
/EvenOddNumbers/.vs/EvenOddNumbers/FileContentIndex
